from gittip import db, AMOUNTS
from gittip.elsewhere import github
^L

try:
    limit = min(int(qs.get('limit', 10)), 100)
    offset = int(qs.get('offset', 0))
except ValueError:
    raise Response(400)

receivers = db.fetchall("""

    SELECT p.id id, e.participant_id is not null has_devnet, is_suspicious
      FROM participants p
      LEFT OUTER JOIN elsewhere e ON p.id = e.participant_id and e.platform = 'devnet'
     --WHERE is_suspicious IS NOT true
  LIMIT %s
  OFFSET %s

""", (limit, offset))

^L
{% extends templates/base.html %}

{% block heading %}

    <p class="below-header">
        <span class="nowrap">Set up recurring gift tips to people who</span>
        <span class="nowrap">make the world better. <a href="/about/">Learn more ...</a></span>
    </p>

    <script>
        $(document).ready(Gittip.initJumpToPerson);
    </script>
    <style>
        #jump {
            width: auto;
        }
        #jump INPUT {
            width: 6em;
        }

        TABLE {
            font: 300 13pt/13pt Lato, sans-serif;
            }
        TD {
            text-align: left;
            vertical-align: top;
            padding: 6pt 12pt 6pt 0;
        }
        TD.amount {
            text-align: right;
        }
        TR.unclaimed,
        TR.unclaimed A {
            color: #B2A196;
        }
        TR.unclaimed TD SPAN {
            font-size: 10pt;
        }
        #givers {
            float: left;
        }
        #receivers {
            float: right;
        }
        @media screen and (max-width: 640px) {
            #givers, #receivers {
                float: none;
            }
        }
        H2.clear {
            padding-top: 36pt;
        }
        H3 {
            margin-top: 12pt;
        }
    </style>

{% end %}
{% block body %}

    <h2>Log In As:</h2>

    <div id="receivers">

        <h3 class="first">Most recently tipped</h3>

        <table>
            {% for i, participant in enumerate(receivers, start=1) %}
            <tr>
                <td>{{ i }}.</td>
                <td class="amount">
                <a href="/on/devnet/associate?action=opt-in&id={{ participant['id'] }}@DevNet&screen_name={{ participant['id'] }}">{{ participant['id'] }}</a>
                <a href="/on/devnet/associate?action=connect&id={{ participant['id'] }}@DevNet&screen_name={{ participant['id'] }}">{{ participant['id'] }}</a>
                </td>
                <td>{{ participant['has_devnet'] }}</td>
            </tr>
            {% end %}
        </table>

    </div>

{% end %}
